name: Docker dev Image CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: "Install requirements"
      run: pip install -r requirements.txt
    - name: "Run tests"
      run: pytest

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: "Run slugify"
      id: slugify
      uses: eltimn/slugify-action@v2.0.1

    - name: Add "dev" to version and replace SHA
      run: |
        # Make sure to export the value from the previous step
        export SHA="${{ steps.slugify.outputs.sha }}"
        
        # Modify version.py to add -dev and replace XXXX with the SHA
        sed -i -e 's/^version.*$/version = "&-dev"/' matey_exporter/version.py && \
        sed -i -e "s/XXXX/${SHA}/" matey_exporter/version.py

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ github.repository }}:${{steps.slugify.outputs.branch}}-${{steps.slugify.outputs.sha}} --tag ${{ github.repository }}:${{steps.slugify.outputs.branch}}-latest
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PAT }}
    - name: Push Docker image to registry
      run: docker push ${{ github.repository }} --all-tags
    - name: Logout from Docker Hub
      run: docker logout
