name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: "Install requirements"
      run: pip install -r requirements.txt
    - name: "Run tests"
      run: pytest

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: "Run slugify"
      id: slugify
      uses: eltimn/slugify-action@v2.0.1
    - name: Build the Docker image
      run: docker build . --file Dockerfile  --tag 

    - name: Replace build with short SHA and export version
      run: |
        # Make sure to export the value from the previous step
        export SHA="${{ steps.slugify.outputs.sha }}"
        VERSION=$(sed -n "s/^version = '\([^']*\)'/\1/p" matey_exporter/version.py)

        # Export them as environment variables
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "BUILD=$SHA" >> $GITHUB_ENV
        
        # Modify version.py to replace XXXX with the SHA
        sed -i -e "s/XXXX/${SHA}/" matey_exporter/version.py

    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile \
        --tag ${{ github.repository }}:${{steps.slugify.outputs.branch}}-${{steps.slugify.outputs.sha}} \
        --tag ${{ github.repository }}:${{steps.slugify.outputs.branch}}-latest \
        --tag ${{ github.repository }}:$VERSION \
        --tag ${{ github.repository }}:$VERSION-${{steps.slugify.outputs.sha}} \
        --tag ${{ github.repository }}:latest

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PAT }}
    - name: Push Docker image to registry
      run: docker push ${{ github.repository }} --all-tags
    - name: Logout from Docker Hub
      run: docker logout
